.2_27 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}.e2_27 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(54.52838122844696, 84.54404979944229, 120.06249949336052, 1);
	width:1478px;
	height:1160px;
	position:absolute;
}.e25_18 { 
	width:1478px;
	height:1160px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_6 { 
	background-color:rgba(0, 0, 0, 0.3400000035762787);
	width:347px;
	height:482px;
	position:absolute;
	left:12px;
	top:0px;
}.e2_45 { 
	color:rgba(255, 255, 255, 1);
	width:255px;
	height:35px;
	position:absolute;
	left:33px;
	top:18px;
	font-family:Irish Grover;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_36 { 
	color:rgba(255, 255, 255, 1);
	width:177px;
	height:48px;
	position:absolute;
	left:33px;
	top:84px;
	font-family:Irish Grover;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_41 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:48px;
	position:absolute;
	left:33px;
	top:156px;
	font-family:Irish Grover;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_34 { 
	color:rgba(255, 255, 255, 1);
	width:278px;
	height:38px;
	position:absolute;
	left:33px;
	top:228px;
	font-family:Irish Grover;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_35 { 
	color:rgba(255, 255, 255, 1);
	width:278px;
	height:31px;
	position:absolute;
	left:33px;
	top:297px;
	font-family:Irish Grover;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_33 { 
	color:rgba(255, 255, 255, 1);
	width:395px;
	height:49px;
	position:absolute;
	left:30px;
	top:375px;
	font-family:Irish Grover;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e5_69 { 
	width:180px;
	height:241px;
	position:absolute;
	left:1083px;
	top:25px;
	background-image:url(images/tlou_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_82 { 
	width:240px;
	height:210px;
	position:absolute;
	left:397px;
	top:18px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_70 { 
	width:252px;
	height:221px;
	position:absolute;
	left:730px;
	top:325px;
	background-image:url(images/fifa_22_min_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_83 { 
	color:rgba(255, 255, 255, 1);
	width:325px;
	height:35px;
	position:absolute;
	left:359px;
	top:247px;
	font-family:Irish Grover;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e5_77 { 
	color:rgba(255, 255, 255, 1);
	width:325px;
	height:33px;
	position:absolute;
	left:1046px;
	top:266px;
	font-family:Irish Grover;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e5_74 { 
	color:rgba(255, 255, 255, 1);
	width:205px;
	height:38px;
	position:absolute;
	left:770px;
	top:222px;
	font-family:Irish Grover;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e5_80 { 
	transform: rotate(-0.9256731876023425deg);
	color:rgba(236.93750202655792, 199.24556136131287, 52.32370913028717, 1);
	width:309px;
	height:29px;
	position:absolute;
	left:409px;
	top:561.9920043945312px;
	font-family:Irish Grover;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e5_79 { 
	color:rgba(255, 255, 255, 1);
	width:233px;
	height:40px;
	position:absolute;
	left:739px;
	top:560px;
	font-family:Irish Grover;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e25_19 { 
	width:235px;
	height:231px;
	position:absolute;
	left:1083px;
	top:325px;
	background-image:url(images/uncharted_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_21 { 
	color:rgba(208.0000028014183, 176.00000470876694, 50.000000819563866, 1);
	width:300px;
	height:67px;
	position:absolute;
	left:1085px;
	top:557px;
	font-family:Irish Grover;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e25_22 { 
	width:735px;
	height:248px;
	position:absolute;
	left:681px;
	top:767px;
	background-image:url(images/classiscos_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_24 { 
	background-color:rgba(20.842702388763428, 202.59114503860474, 227.37499594688416, 0.7799999713897705);
	width:739px;
	height:55px;
	position:absolute;
	left:681px;
	top:713px;
}.e25_23 { 
	color:rgba(242.31818050146103, 244.3750101327896, 141.53386294841766, 1);
	width:623px;
	height:45px;
	position:absolute;
	left:748px;
	top:718px;
	font-family:Irish Grover;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e25_32 { 
	width:429px;
	height:241px;
	position:absolute;
	left:8px;
	top:906px;
	background-image:url(images/vr2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_33 { 
	background-color:rgba(80.25417119264603, 148.57148051261902, 187.00000405311584, 0.5799999833106995);
	width:460px;
	height:49px;
	position:absolute;
	left:-20px;
	top:865px;
}.e25_35 { 
	color:rgba(246.49999290704727, 220.822916328907, 220.822916328907, 1);
	width:380px;
	height:46px;
	position:absolute;
	left:33px;
	top:868px;
	font-family:Irish Grover;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e32_5 { 
	width:332px;
	height:219px;
	position:absolute;
	left:27px;
	top:520px;
	background-image:url(images/rectangle_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_6 { 
	width:265px;
	height:217px;
	position:absolute;
	left:393px;
	top:325px;
	background-image:url(images/rectangle_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_308 { 
	width:233px;
	height:198px;
	position:absolute;
	left:739px;
	top:18px;
	background-image:url(images/rectangle_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e32_309 { 
	color:rgba(255, 255, 255, 1);
	width:326px;
	height:20px;
	position:absolute;
	left:47px;
	top:748px;
	font-family:Irish Grover;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}